<h1> Poker Statistics </h1>

<a href = "{% url 'home' %}">Home</a>

<br><br>

<p>There are 1326 ways to deal 2 cards. This is equal to (52*51)/2 (as you could get Ace spades and King spades or King spades then Ace spades - 52*51 takes counts both AceSpades/KingSpades or KingSpades/AceSpades when in reality it's only one) or its equal to 52C2.</p>

<p>In Texas Hold'em, position is a huge advantage - you want to be as close to the Button as possible (as the Button the last person to act after the flop). This is called the late position. </p>